@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    background-color: white !important;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
  }
}

:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 0px;
}